

  <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
  <label for="menu-icon"></label>
  <nav class="nav"> 		
    <ul>
      <li><a href="/listProduct"><span class="material-icons">view_list</span>  Product List </a></li>
      <li><a href="/AddProduct"><span class="material-icons">add_circle_outline</span> Add product </a></li>
      <li><a href="#"><span class="material-icons">account_circle</span> Profile </a></li>
      <li><a href="#"><span class="material-icons">mail_outline</span> Mail</a></li>
    </ul>
    
    
  </nav>

